<!DOCTYPE html>
<html lang="en">
<head>
  <title> RappiEdu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">


  .col-md-2 .fab{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .fas:hover,.fab:hover{
    color: #E5E7E9;

  }

  @media(max-width: 992px){
    .col-md-2 .fab{
      font-size: 18px;
      padding-right: 0;
    }
  }

  .blanco {
    color: whitesmoke;
  }

  .color {
    background:#2C5AA2 !important;
  }


</style>
<body>
<header class="color">
  <div class="container " id="top">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <h5 class="blanco"> <b> <u> CONTRATOS </u> </b> </h5>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-left">
        <ul class=" list-group list-group-horizontal">
            <li><a class="blanco" href="http://localhost:4200/RappiEDU/Estudiante"> CANCELAR </a></li>
          </ul>
      </div>
    </div>
  </div>
</header>

<div class="card border-dark mb-3">
    <div class="card-body text-dark">
        <h5 class="card-title">Crear Nuevo Contrato</h5>
    </div>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="year">Año</label>
            <input type="text" class="form-control" id="year" [(ngModel)]="contrato.year" name="year">
        </div>
        <div class="form-group">
            <label for="mes">Mes</label>
            <input type="text" class="form-control" id="mes" [(ngModel)]="contrato.mes" name="mes">
        </div>  
        <div class="form-group">
            <label for="dia">Día</label>
            <input type="text" class="form-control" id="dia" [(ngModel)]="contrato.dia" name="dia">
        </div>  

        <div class="form-group">
          <label for="servicio">Servicio</label>
          <select [compareWith]="compararTipoS" type="text" class="form-control" id="servicio"
            [(ngModel)]="contrato.servicio" name="servicio">
            <option [ngValue]="undefined">
                  --- Seleccione Servicio ----
            </option>
            <option *ngFor="let servicio of servicios" [ngValue]="servicio">
                  {{servicio.nomServicio}}
            </option>
          </select>
      </div>

      <div class="form-group">
        <label for="estudiante">Estudiante</label>
        <select [compareWith]="compararTipoE" type="text" class="form-control" id="estudiante"
          [(ngModel)]="contrato.estudiante" name="estudiante">
          <option [ngValue]="undefined">
                --- Seleccione Estudiante ----
          </option>
          <option *ngFor="let estudiante of estudiantes" [ngValue]="estudiante">
                {{estudiante.nomEstudiante}}
          </option>
        </select>
    </div>

        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>
</div>

</body>
</html>

