<!DOCTYPE html>
<html lang="en">
<head>
  <title> RappiEdu </title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<style type="text/css">


  .col-md-2 .fab{
    font-size: 20px;
    padding-right: 10px;
    padding-top: 5px;
    padding-left: 10px;

  }

  .fas:hover,.fab:hover{
    color: #E5E7E9;

  }

  @media(max-width: 992px){
    .col-md-2 .fab{
      font-size: 18px;
      padding-right: 0;
    }
  }

  .blanco {
    color: whitesmoke;
  }

  .color {
    background:#2C5AA2 !important;
  }


</style>
<body>
<header class="color">
  <div class="container " id="top">
    <div class="row">
      <div class="col-md-10 col-sm-12 col-xs-12">
        <h5 class="blanco"> <b> <u> ESTUDIANTES </u> </b> </h5>
      </div>
      <div class="col-md-2 col-sm-12 col-xs-12 text-left">
        <ul class=" list-group list-group-horizontal">
            <li><a class="blanco" href="http://localhost:4200/RappiEDU/Estudiante"> CANCELAR </a></li>
          </ul>
      </div>
    </div>
  </div>
</header>

<div class="card border-dark mb-3">
    <div class="card-body text-dark">
      <h5 class="card-title">Agregar Nuevo Estudiante</h5>
  </div>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="nomEstudiante">Nombre</label>
            <input type="text" class="form-control" id="nomEstudiante" [(ngModel)]="estudiante.nomEstudiante" name="nomEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="apellidoEstudiante">Apellido</label>
            <input type="text" class="form-control" id="apellidoEstudiante" [(ngModel)]="estudiante.apellidoEstudiante" name="apellidoEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="edad">Edad</label>
            <input type="text" class="form-control" id="edad" [(ngModel)]="estudiante.edad" name="edad">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="genero">Género</label>
            <input type="text" class="form-control" id="genero" [(ngModel)]="estudiante.genero" name="genero">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="celularEstudiante">Celular</label>
            <input type="text" class="form-control" id="celularEstudiante" [(ngModel)]="estudiante.celularEstudiante" name="celularEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="claveEstudiante">Contraseña</label>
            <input type="text" class="form-control" id="claveEstudiante" [(ngModel)]="estudiante.claveEstudiante" name="claveEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="codigoEstudiante">Código</label>
            <input type="text" class="form-control" id="codigoEstudiante" [(ngModel)]="estudiante.codigoEstudiante" name="codigoEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="dniEstudiante">DNI</label>
            <input type="text" class="form-control" id="dniEstudiante" [(ngModel)]="estudiante.dniEstudiante" name="dniEstudiante">
        </div>
    </form>
    <form (ngSubmit) = "save()">
        <div class="form-group">
            <label for="nomEstudiante">Dirección</label>
            <input type="text" class="form-control" id="direccionEstudiante" [(ngModel)]="estudiante.direccionEstudiante" name="direccionEstudiante">
        </div>

        <div class="form-group">
            <label for="distrito">Distrito</label>
            <select [compareWith]="compararTipo" type="text" class="form-control" id="distrito"
              [(ngModel)]="estudiante.distrito" name="distrito">
              <option [ngValue]="undefined">
                    --- Seleccione Distrito ----
              </option>
              <option *ngFor="let distrito of distritos" [ngValue]="distrito" >
                    {{distrito.nomDistrito}}
              </option>
            </select>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-success">Registrar</button>
        </div>
    </form>
</div>

</body>
</html>
